generator/schema2template/src/test/resources/test-input/odf/grammar/simple.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
     Open Document Format for Office Applications (OpenDocument) Version 1.3
     Committee Specification 02
     30 October 2020
     Copyright (c) OASIS Open 2020. All Rights Reserved.
     Source: https://docs.oasis-open.org/office/OpenDocument/v1.3/cs02/schemas/
     Latest stage of specification: https://docs.oasis-open.org/office/OpenDocument/v1.3/OpenDocument-v1.3-part1-introduction.html
     TC IPR Statement: https://www.oasis-open.org/committees/office/ipr.php

        Open Document Format for Office Applications (OpenDocument) Version 1.3
        Relax-NG Schema
        OpenDocument-v1.3-schema.rng
-->
<rng:grammar xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:db="urn:oasis:names:tc:opendocument:xmlns:database:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:grddl="http://www.w3.org/2003/g/data-view#" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xlink="http://www.w3.org/1999/xlink" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <rng:start>
      <rng:element name="anim:animate">
        <rng:optional>

<rng:attribute name="smil:repeatCount">
  <rng:choice>
    <rng:ref name="nonNegativeDecimal"/>
    <rng:value>indefinite</rng:value>
  </rng:choice>
</rng:attribute>

        </rng:optional>
      </rng:element>
  </rng:start>
<rng:define name="nonNegativeDecimal">
  <rng:data type="decimal">
    <rng:param name="minInclusive">0.0</rng:param>
  </rng:data>
</rng:define>
</rng:grammar>
